*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  background: #F8F7ED;
  color: #F8F7ED;
  overflow-x: hidden;
  padding-bottom: 50px;
}

/* HEADER SECTION
––––––––––––––––––––––––––––––––––––––––––––––– */

.header .container {
  width: 90%;
  max-width: 1200px;
  margin: 25px auto;
  text-align: center;
}
.logo {
  width: 175px;
  padding-bottom: 25px;
}

/* Intro
––––––––––––––––––––––––––––––––––––––––––––––– */
.vs {
  width: 500px;
  padding-bottom: 25px;
}

.intro {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.intro h1 {
  font-family: 'Chewy', cursive;
  font-size: 32px;
  color: #EF462C;
  text-align: center;
  padding: 0px 10px 10px 10px;
}

.intro p {
  font-family: 'Chewy', cursive;
  font-size: 16px;
  color: #000000;
  text-align: center;
  padding: 0px 5% 25px 5%;
}

.intro h2 {
  font-family: 'Chewy', cursive;
  font-size: 26px;
  color: #4259A7;
}

.intro .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hosts {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 25px 25px 25px
}

.hosts p {
  font-family: 'Chewy', cursive;
  font-size: 22px;
  color: #000000;
  text-align: center;
  padding: 0 0 0 5px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-title {
  font-family: 'Chewy', cursive;
  font-size: 32px;
  color: #EF462C;
  text-align: center;
  padding: 50px 10px 0px 10px;
}

.timeline ul {
  background: #F8F7ED;
  padding: 25px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #EF462C;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #4259A7;
  border-radius: 20px;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 10px 20px 10px 0;
  border-color: transparent #4259A7 transparent transparent;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.04);
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #4259A7;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #4259A7;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 10px 20px 10px 0;
    border-color: transparent #4259A7 transparent transparent;
  }
  .vs {
  width: 250px;
  padding-bottom: 25px;
}
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


/* FOOTER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  position: fixed;
  right: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 10px;
  color: black;
  background: rgba(255, 255, 255, 0.39);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(9.6px);
}

.page-footer a {
  text-decoration: none;
  color: #4259A7;
}

.page-footer i {
  color: #ff4834;
}


 
